<div class="reset-container">
  <div class="reset-card">
    <img class="reset-logo" src="assets/book-stack.png" />
    <span class="card-header">
      <h2>TallyRead</h2>
    </span>
    <form [formGroup]="resetRequest" (ngSubmit)="resetPassword()">
      <input
        type="password"
        formControlName="password"
        placeholder="type your new password"
        [class.error]="resetRequest.get('password')?.invalid && resetRequest.get('password')?.touched"
      />
      <input
        type="password"
        formControlName="confirm_password"
        placeholder="Retype your new password"
        [class.error]="resetRequest.get('confirm_password')?.invalid && resetRequest.get('confirm_password')?.touched"
      />
      <span *ngIf="!passwordMatch" >
        <p class="p_error">Passwords do not match</p>
      </span>

      <span *ngIf="success"><p class="message">Password Successfully Changed. Please <a href="/login">Login</a></p></span>
      <span *ngIf="expired" ><p class="p_error">The Token is Expired Please Reset Your Password Again. <a href="/forgetPassword">Forget Password</a></p></span>
      <span *ngIf="used" ><p class="message">Password already Changed Please Login <a href="/login">Login</a></p></span>
      <button type="submit" [disabled]="resetRequest.invalid" >Change Password</button>
    </form>
  </div>
</div>
