<div class="forget-container">
  <div class="forget-card">
    <img class="forget-logo" src="assets/book-stack.png" />
    <span class="card-header">
      <h2>TallyRead</h2>
    </span>
    <form [formGroup]="forgetPassword" (ngSubmit)="requestReset()">
      <input
        formControlName="email"
        type="email"
        placeholder="type Your Email"
        class="email-input" />
      <p *ngIf="sent" class="message">If an account with that email exists, a reset Link has been sent.</p>
      <button type="submit" [disabled]="forgetPassword.invalid">Submit</button>
      <div class="footer-links">
        <a href="/login">Go Back</a>
      </div>
    </form>
  </div>
</div>
