@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
  font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px;
}

.signup-card {
  position: relative;
  background: white;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  width: 25%;
  outline: #453d83 solid 2px;
  margin-top: 1rem;
}

.card-header{
  text-align: center;
}

h2{
  font-size: 3.5rem;
  font-family: "Jersey 10", sans-serif;
  color: #453d83;
  margin-top: 2rem;
}

.form-group { margin-bottom: 1.5rem; }

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: #000000;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #453d83;
}

input.error { border-color: #e74c3c; }

button {
  width: 100%;
  padding: 0.8rem;
  background-color: #453d83;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

button:disabled { background-color: #ccc; cursor: not-allowed; }
button:hover:not(:disabled) { background-color: #2e2856; }

.signup-logo{
  width: 130px;
  height: 130px;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.footer-links {
  margin-top: 1.5rem;
  text-align: center;
  font-size: .95rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links a { color: #453d83; text-decoration: none; font-weight: bold;}