@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.nav-bar{
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
  display: flex;
  flex-direction: row;
}

.right{
  display: flex;
  flex-direction: row;
}

h2{
  margin-left: 10px;
  font-size: 2.7rem;
  color: #453d83;
  font-family: "Jersey 10", sans-serif;
}

.site-icon{
    width: 40px;
    height: 40px;
}

button{
  color: white;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  background: linear-gradient(135deg, #7e72db 0%, #453d83 100%);
  transition: transform 0.09s ease-in;
}

button:hover,
 .right a:hover{
  outline: none;
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1);
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba($color: #7e72db, $alpha: 0.5);
}

.hide{
  display: none;
}

.right a{
  font-size: 1rem;
  color: white;
  font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  padding-top: 12px;
  border-radius: 5px;
  margin-right: 2rem;
  background-color: white;
  background: linear-gradient(135deg, #7e72db 0%, #453d83 100%);
  transition: transform 0.09s ease-in;
}

